body {
  font-family: 'Lato', 'Arial', sans-serif;
}
body nav {
  height: 74px;
  background: #35424a;
}
body nav h1 {
  text-align: center;
  color: white;
  padding: 20px;
}
body nav .team-back-button {
  border-radius: 5px;
  background: skyblue;
  color: black;
  height: 50px;
  width: 100;
  font-size: 20px;
  margin: 10px;
}
body .container-team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #f4f4f4;
}
body .container-team img {
  width: 100px;
  margin-top: 20px;
}
body .container-team .pic-box {
  width: 200px;
  height: 300px;
  background: white;
  text-align: center;
  margin: 50px 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/intro-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 1000px;
  background-attachment: fixed;
}
header .container {
  font-family: 'Lato', 'Arial', sans-serif;
  width: 90%;
  margin: 0 auto;
}
header .container .nav-area {
  display: flex;
  justify-content: space-between;
}
header .container .nav-area h1 {
  font-family: 'playfair display';
}
header .container .nav-area .logo {
  display: flex;
}
header .container .nav-area .logo h1 {
  font-size: 60px;
  color: white;
}
header .container .nav-area .app-link-button {
  border-radius: 15px;
  background: green;
  color: white;
  height: 60px;
  width: 400px;
  font-size: 30px;
  margin-top: 30px;
}
@media (max-width: 1000px) {
  header .container .nav-area {
    display: block;
  }
  header .container .nav-area h1 {
    margin: 0 auto;
  }
  header .container .nav-area .app-link-form {
    text-align: center;
  }
  header .container .nav-area .move-up-pic {
    order: 1;
  }
}
@media (max-width: 500px) {
  header .container .nav-area .app-link-button {
    width: 300px;
    height: 100px;
  }
  header .container .nav-area .banner h1 {
    font-size: 100px;
  }
}
header .container .banner {
  margin: 100px;
  color: white;
  font-size: 180%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
@media (max-width: 500px) {
  header .container .banner {
    font-size: 140%;
  }
}
.description-area {
  display: flex;
}
.description-area .photobox img {
  max-width: 600px;
}
@media (max-width: 500px) {
  .description-area .photobox img {
    max-width: 100%;
  }
}
.description-area .description-text {
  max-width: 50%;
  margin: 100px;
  color: black;
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
}
@media (max-width: 1000px) {
  .description-area {
    flex-direction: column;
    align-items: center;
  }
  .description-area .photobox {
    margin: 0 auto;
  }
  .description-area .description-text {
    margin: 0 auto;
  }
  .description-area .move-up-pic {
    order: -1;
  }
}
.lower-section {
  background: #35424a;
  height: 75px;
  display: flex;
  justify-content: center;
}
.lower-section .meet-team-button {
  color: black;
  background: skyblue;
  margin: 20px auto;
  height: 40px;
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
}
