header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/intro-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 1000px;
}
header .container {
  font-family: 'playfair display';
  width: 90%;
  margin: 0 auto;
}
header .container .nav-area {
  display: flex;
  justify-content: space-between;
}
header .container .nav-area .logo {
  display: flex;
}
header .container .nav-area .logo h1 {
  font-size: 60px;
  color: white;
}
header .container .nav-area button {
  border-radius: 15px;
  background: green;
  color: white;
  height: 60px;
  width: 400px;
  font-size: 30px;
  margin-top: 30px;
}
