.container{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #f4f4f4;
    background: green;
    margin: 40px auto;

    img{
        width: 100px;
    }

    .pic-box{
        width: 200px;
        height: 400px;
        background: white;
        text-align: center;
    }
}